* {
  margin: 0;
  padding: 0;
}

body {
  font: 22px Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}

a {
  color: inherit;
}

header img,
header nav {
  padding: 0 10px;
}
