/* General Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font: 22px Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

body,
header,
.overlay {
  background-color: black;
}

main {
  position: relative;
  top: 70px;
}

a {
  color: inherit;
  padding: 0 10px;
}

h2,
h4 {
  padding: 10px 0;
}

/* Header Styles */

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 2;
}

header img,
header nav {
  padding: 0 10px;
}

/* Mission Section Styles */

.mission, .overlay {
  width: 1200px;
}

.mission {
  display: flex;
  align-items: center;
  height: 700px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
}

/* Feature Section Styles */

.feature {
  width: 1000px;
  margin: 60px auto;
}

.feature-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-content img {
  width: 300px;
  height: 200px;
}

.feature-item {
  margin: 10px;
}

figcaption {
  padding: 10px 0;
}
